{% extends 'base.html' %}

{% block content %}
    <h1>Blog Posts</h1>
    <div class="row">
        {% for post in posts %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.information_text }}</p>
                        <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
