{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="barber_section layout_padding">
        <div class="container-fluid">

            <main class="tm-main">
                <div class="col-lg-6" style="margin: auto">
                    <div class="mb-5">
                        <h1 style="font-size: xxx-large" class="font-weight-bold">{{ post.title|capfirst }}</h1>
                        <p style="font-size: larger" class="tm-mb-40">{{ post.publish_date }}</p>
                        <p>
                            {{ post.information_text|linebreaks }}
                        </p>
                        {{ post.html_content|safe }}
                        {% if user.is_authenticated %}
                            <div class="subscribe_text font-weight-bold">
                                <form method="post" style="color: black">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button style="background-color: black" type="submit" class="btn btn-primary">Save
                                    </button>
                                </form>
                            </div>
                        {% else %}
                            <span class="caption">| You must log in to your account to save a post to favorites.  </span>
                            <a href="{% url 'login' %}">login</a> | <a href="{% url 'signup' %}">signup</a>
                        {% endif %}
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
