{% extends 'base.html' %}

{% block title %}My Blog{% endblock %}

{% block content %}
  <h1>Blog Posts</h1>

  {% for post in posts %}
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ post.image.url }}" class="card-img" alt="{{ post.title }}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.information_text }}</p>
            <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
